@import "reset.css";

.hidden {
  display: none;
}

#clock {
  font-size: 170px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#clock__left {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#clock__hhmm {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  margin-top: auto;
}

.ampmsec {
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 72px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

#ampm {
  opacity: 80%;
}

#yyyymmdd {
  margin-top: 20px;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.class-body {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.login-form {
  margin-top: 60px;
}

.login-form input {
  font-size: 30px;
}

#greeting {
  margin-top: 60px;
  font-size: 30px;
}

input {
  border: none;
  color: white;
  background: transparent;
  border-bottom: 3px solid white;
}

li {
  margin-top: 14px;
  font-size: 26px;
}

input::placeholder {
  color: white;
  font-style: italic;
}

#todo {
  margin-top: 20px;
  text-align: center;
}

#todo input {
  width: 330px;
  font-size: 24px;
}

.background-image {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
}

#weather {
  margin-left: 10px;
}

#quote {
  width: 100%;
  position: fixed;
  text-align: right;
}

#quote span:last-child {
  margin-right: 10px;
}
